:root{
    --main-color: #000000;
    --text-color: #cccccc;
    --second-color: #660000;
    --header-text: 'Shadows Into Light Two';
    --body-text: 'Roboto';
}

h1{
    background-color: var(--main-color);
    font-family: var(--header-text);
    font-style: normal;
}

header{
    background-color: var(--main-color);
    color: var(--text-color);
}

header p{
    font-family: var(--body-text);
}

body{
    background-color: var(--main-color);
}

section{
    background-color: var(--second-color);
    color: var(--text-color);
    font-family: var(--body-text);
}

h2{
    width: 100%;
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: var(--header-text);
    font-style: normal;
}

a{
    color: var(--text-color);
}

footer{
    color: var(--text-color);
}