@media screen and (min-width: 800px){
    .weapdisplay{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .weapdisplay h2{
        grid-column-start: span 3;
    }
    
    .weaplist{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}